[2021-03-15 09:13] hesa opened #22 "Warn or error+exit if license can't be found?"

[2021-03-20 20:08] #22 closed

[2021-03-22 08:08] hesa commented on #16
This is the problematic part:

[code]

Compared to (non scancode and correctly spelled):

[code]

[2021-03-22 08:10] hesa commented on #16
[code]

[2021-03-24 08:20] hesa opened #25 "doc: install required software for MacOS"
Add to:

INSTALLATION.md

[2021-03-24 08:20] hesa opened #26 "doc: install required software for Windows"
Add to:

INSTALLATION.md

[2021-03-26 01:15] jeremiah commented on #15
Yeah, it would be odd.

[2021-03-26 01:33] jeremiah commented on #27
FWIW the FSF complains to us that "PureOS includes package managers configured to point to repositories containing non-free software, including [snap][3] and [pip][4]. Pip is an understandable oversight, as it is normally used by developers and it is not particularly known for being a source of non-free software."

[2021-03-26 08:37] hesa opened #1 "Write human readable report"
Write report (from PolicyReport):

markdown
create pdf, html .... using pandoc (subprocess pandoc program)
short report
full report (all data (including short))

[2021-03-26 08:37] hesa opened #2 "fix return code"
flict should return:

0 if your component is fully compliant,

1 if your component is compliant but there are licenses that you requested (with a policy) to avoid

2 if your component is not compliant

5.... for misc

[2021-03-26 08:37] hesa opened #3 "Rename suggestion -> candidate"
The word suggest might imply that there is some thoughts behind the list of licenses.
Going for candidate instead more implies that these are candidates.

Perhaps instead:

    candidates_for_evaluation
    candidates_for_review

[2021-03-26 08:38] hesa opened #4 "doc: install required software for MacOS"

[2021-03-26 08:38] hesa opened #5 "doc: install required software for Windows"

[2021-03-26 08:39] hesa opened #6 "python setup"

[2021-03-26 08:46] hesa opened #7 "Clarify outbound license is experimental"

[2021-03-26 10:27] hesa opened #8 "Installation.md: Adding PATH to bashrc"
Use $$ instead of $ when adding to bashrc

[2021-03-26 19:40] jeremiah opened #9 "Rename master branch back to primary"

[2021-03-26 19:40] jeremiah opened #10 "Package flict for debian"
I've started this, will update soon.

[2021-03-26 19:42] jeremiah opened #11 "Flict needs license and copyright"
This will help with packaging because Debian requires this.

[2021-03-27 11:25] hesa opened #12 "Delete file arbiter_pile.py"

[2021-05-03 17:43] hesa opened #13 "Use license_expression to build and/or lists"
Today we're using our own implementation. Can we use license_expression's instead.

@pombredanne pointed this out in https://github.com/maxhbr/LDBcollector/issues/4

[2021-05-04 18:53] #12 closed, assigned to nobody

[2021-05-04 18:55] hesa commented on #12
https://github.com/vinland-technology/flict/commit/0ecd71ffcb4766a55eae41784bac1663142ad15f

[2021-05-04 19:12] hesa commented on #11
This is present in the pyhton and shell files.

[code]

Pushed it. Will this do?

[2021-05-04 19:34] jeremiah commented on #11
hell yes. :100:

[2021-05-04 19:34] #11 closed, assigned to nobody

[2021-05-04 19:35] jeremiah commented on #10
@hesa do you think flict is ready for packaging and distribution to Debian?

[2021-05-04 20:50] hesa commented on #10
@jeremiah , I think we can get started.
There are some things that need a change. Even though these are important they are trivial.

[2021-05-04 20:50] hesa commented on #11
@jeremiah thanks

[2021-05-04 21:55] jeremiah commented on #10
Cool. I'll work on that.

[2021-05-05 00:02] jeremiah commented on #10
Which branch for packaging? Master? https://github.com/vinland-technology/flict/branches/all

[2021-05-05 05:28] hesa commented on #10
Oh. I prefer a change of the main branch to "main" or "primary". Then perhaps do all devel in a dedicated branch. I will do this and ping you back.

But does Debian wants a branch rather than a release (tar.gz sort of)?

[2021-05-05 07:25] hesa commented on #10
Adjustments
* default branch: main
* development branch: devel
*
@jeremiah, what does Debian need to know about our branches?

[2021-05-05 07:26] hesa commented on #9
missed this, sorry
created main instead.

[2021-05-05 07:26] #9 closed, assigned to nobody

[2021-05-05 07:38] hesa opened #15 "Attribute OSADL"
Some work already done: https://github.com/vinland-technology/flict/blob/main/.reuse/dep5

Attribution is coming up. More information here:
https://www.osadl.org/Access-to-raw-data.oss-compliance-raw-data-access.0.html

[2021-05-05 16:52] jeremiah commented on #10
Cool! I'll package the main branch.

Debian doesn't need to know about our branches, I just want to know which branch I should package. I use a tool called git-buildpackage which builds packages out of git. I will create a new branch of main and then also create a Debian packaging branch. Debian's git packaging policy is here: https://dep-team.pages.debian.net/deps/dep14/

I'll likely do all the w

[2021-05-05 16:58] jeremiah commented on #10
I think we need a release to do this properly - otherwise I'll create a tarball as the release but I'll have to make up a version and this might not be a great idea. I'd prefer if you were to cut a release with a version tag as a tarball so that we have good release process. Does that work for you?

You can use GitHub's release tool which is quite handy: https://github.com/vinland-technology/flict

[2021-05-05 16:59] jeremiah opened #16 "Need a new release"
Debian packaging needs a tarball and a version.

#10

[2021-05-05 17:11] hesa commented on #16
I know how to do c/c++ pkgs ... but have no clue about Python

[2021-05-05 19:59] jeremiah commented on #16
I don't think we need either a C/C++ package or a python package - we can just tar up the source code. I'll double check.

[2021-05-05 20:01] hesa opened #17 "Create py pkg"
Most of the stuff is there. Surely changes will ve made ... but it's time to make it available via pip

@priv-kweihmann can you help us?

[2021-05-05 20:10] priv-kweihmann commented on #17
Sure, will try my best :-)

[2021-05-05 20:13] jeremiah commented on #16
Yeah - we have a beta pre-reelase; https://github.com/vinland-technology/flict/releases/tag/v0.1

[2021-05-05 20:13] #16 closed, assigned to hesa

[2021-05-05 20:14] jeremiah commented on #16
I can start testing with this: https://github.com/vinland-technology/flict/releases/tag/v0.1
The testing is mostly;

- download the release
- build the software on my system
- package for debian
- move the result into Debian's Salsa tool -- https://salsa.debian.org/

[2021-05-10 17:29] #17 closed, assigned to nobody

[2021-05-10 17:41] priv-kweihmann opened #20 "Rework test to use pytest"
Current tests are using some kind of python unittest approach, where every test is an executable on its own.
This makes it extra hard to measure important metrics like
- coverage
- consistent styleguide
- project wide definitions

also it leads to odd constructions of modules importing each other.

A way better approach would be to use pytest and enabling
- project wide style guide using a defined

[2021-05-10 18:01] priv-kweihmann commented on #8
bash shouldn't even be used at all - IMHO there is no need to invoke bash while running the tool.
at what point do we need bash?

[2021-05-10 18:01] priv-kweihmann commented on #6
Should be done with #17 , right?

[2021-05-16 11:03] priv-kweihmann opened #21 "test_project.Basic.test_small fails"
at `# Check flattened dep tree (pile) (implicitly tests dependencies_pile)`

`self.project.dependencies_pile_map()` returns

[code]
while `exp` returns

[code]
----

that looks okay on first sight, but if you compare `expanded_license` following things are not working
- `set_list` order isn't deterministic, which makes it not comparable so easily (I would suggest to use `sorted` when converting to

[2021-05-19 18:02] #20 closed, assigned to nobody

[2021-05-19 18:03] hesa opened #24 "Add list of authors/contributors (incl (c))"

[2021-05-21 10:33] priv-kweihmann commented on #24
Why not use the GitHub API for that? For what purpose to you need that? Release documentation? Or something else?

[2021-05-21 10:33] priv-kweihmann opened #27 "Fix failing tests"
A few of the unit tests are still failing - fix them

[2021-05-21 10:35] priv-kweihmann opened #28 "CI: enable unit testing in CI pipeline"
Depends on #27 and #21 - if these are up and running, enable an additional stage in the CI pipeline to auto run all tests in CI.

[2021-05-21 10:38] priv-kweihmann opened #29 "Rework reporting and avoid usage of print statements"
The output stream shall be configurable (and not limited to `sys.stdout`).

- add option to argparse for the output stream (default sys.stdout)
- rework statements like https://github.com/vinland-technology/flict/blob/8ead8d8d6a79cb3a1b7efd9b5d0d96901b422f3c/flict/__main__.py#L377
- activate hard rule in flake8 linter to fail on print statements

[2021-05-21 10:40] priv-kweihmann opened #30 "Enable flake8 linter in pytest"
currently that is disabled, as there are way too many warnings.

- fix as many warnings as possible
- add global suppression for things we don't want in this project (@hesa any type of preference for a style guide of this project? pep8? none? something customized?)
- enable flake8 in pytest options

[2021-05-24 12:41] hesa opened #31 "(c) setup.py faulty"
(c) is Konrad's

[2021-05-24 12:47] hesa opened #32 "install fails in docker (FROM python:3.6)"
**Dockerfile:**
[code]

When building an error occurs:

**Error:**
[code]

**Have tried:**
* to upgrade pip (using `apt-get`)
* `/usr/local/bin/python -m pip install --upgrade pip`

The latter gave this:
[code]

[2021-06-22 12:52] priv-kweihmann commented on #32
That's because there isn't a pypi release available yet (pip by default looks up stuff on remote not locally).

But you could try
[code]

that should work (might need git installed into the docker)

[2021-06-22 12:55] priv-kweihmann commented on #31
I don't insist on it - just leave it for now.
But it would be nice to have it documented in a contribution guide, how to deal with new CR holders...
for cases such as
- file modification (add/remove CR info)
- new files (whom to add)

[2021-06-22 13:00] priv-kweihmann commented on #31
Maybe we could add a automatic check for that, using git blame `git log --pretty=format:"%an%x09" <file> | sort | uniq` and double check this with the modified files of a PR

[2021-06-27 16:17] hesa commented on #31
I will insist, staring here:

https://github.com/vinland-technology/flict/tree/3-contribution-guidelines

[2021-07-10 18:55] #31 closed, assigned to nobody

[2021-07-10 19:06] hesa opened #34 "Start versioning properly"
0.1 current state, write down features
plan features for 0.2... 1.0

[2021-07-11 16:40] #34 closed, assigned to nobody

[2021-07-11 16:43] hesa commented on #32
Fixed by the above comment. Origin:
https://github.com/vinland-technology/compliance-tool-collection/commit/09627295c5d0e2571c0ed0bcccf6e7919e761a1e

[2021-07-11 16:43] #32 closed, assigned to nobody

[2021-07-11 17:04] hesa commented on #27
Working on this now

[2021-07-13 10:02] #21 closed, assigned to nobody

[2021-07-13 10:07] hesa commented on #27
Works (I hope)

[2021-07-13 10:08] hesa opened #37 "Fix failing CLI tests"
[code]

[2021-07-13 10:13] #37 closed, assigned to nobody

[2021-07-13 10:40] hesa opened #39 "Fix reuse issues"

[2021-07-13 10:51] #39 closed, assigned to nobody

[2021-07-13 10:52] hesa commented on #24
Tradition.
For releases.
Not be (too) dependent on GH APIs.

[2021-07-13 10:52] #24 closed, assigned to nobody

[2021-07-13 10:53] #6 closed, assigned to nobody

[2021-07-13 10:53] #4 closed, assigned to nobody

[2021-07-13 10:53] #5 closed, assigned to nobody

[2021-07-13 10:55] hesa opened #41 "Switch from argparse to click"

[2021-07-13 12:22] hesa commented on #30
Style guide: you decide

[2021-07-13 12:24] priv-kweihmann commented on #30
okay, so I choose none and disable all style guide related IDs

[2021-07-19 12:48] priv-kweihmann commented on #27
Thanks, I can confirm tests are passing now

[2021-07-19 12:48] #27 closed, assigned to nobody

[2021-07-19 12:52] priv-kweihmann commented on #41
I would argument against that - argparse is a builtin module of standard python, while click is a 3rd party lib.
And click has proven many times in the past to have breaking changes in their API...

[2021-07-20 11:42] #30 closed, assigned to nobody

[2021-07-21 08:46] hesa opened #43 "Restructure command line"
# Background

Flict has been developed in a rather chaotic way and it's about time to end that and get structured. Before looking at the code I suggest to list the use cases we have and from that implement an easier to understand command line.

Here are some thoughts on the above....

# Use cases

Here are some use cases that I have myself:

1. verify license compatibility for:

    * project (wit

[2021-07-21 10:29] jeremiah commented on #43
This is great, very useful.

[2021-07-23 08:46] hesa opened #44 "Reuse test in CI"
Check if spdx headers are present in all files, or documented by some other means

[2021-07-26 21:16] hesa opened #45 "Structure output formats"
JSON, markdown (pdf, html, text...), and text (for cli users) are useful. The code today contains if statements to solve this (at best).

* Add interface for output, e.g. `ListFormatter` which need to be implemented for each format.

* Add code to provide formatter for given a format.

Example code:
[code]

[2021-07-27 10:43] hesa opened #46 "Include fails in outbound, sum up compats"
Example: `GPL-2.0-only and ( BSD-3-Clause or Apache-2.0)`

Should give
* GPL-2.0-only:
    * BSD-3-Clause: true // as in compat with GPL-2.0-only (that direction)
    * Apache-2.0: false
* BSD-3-Clause:
    * GPL-2.0-only: false // as in not compat with BSD-3-Clause (that direction)
    * Apache-2.0: ....
* Apache-2.0:
    * GPL-2.0-only: false // as in not compat with Apache-2.0 (that direction)

[2021-07-27 12:27] #46 closed, assigned to nobody

[2021-07-27 12:28] #44 closed, assigned to nobody

[2021-07-27 13:50] #43 closed, assigned to nobody

[2021-07-27 19:10] hesa opened #50 "implement verify -le"

[2021-07-27 22:17] hesa opened #51 "rewrite README to reflect new sub-command, options, argument"

[2021-07-28 08:06] hesa opened #52 "Replace exit calls with exceptions"
Scan for calls to exit

[2021-07-28 08:14] hesa opened #53 "clean up unused/old code (marked REMOVE)"

[2021-07-28 08:36] hesa commented on #53
* add test code to test all cli option
* remove old code
* re-run above tests

[2021-07-28 08:47] #45 closed, assigned to nobody

[2021-07-28 10:21] hesa opened #55 "implement --table and --graph for display-compatibility"

[2021-07-28 10:37] #53 closed, assigned to nobody

[2021-07-28 12:54] hesa commented on #41
Sounds a bit sad and odd. Closing this

[2021-07-28 12:55] #41 closed, assigned to nobody

[2021-07-28 13:45] #7 closed, assigned to nobody

[2021-07-29 11:08] hesa commented on #3
`suggested_outbound` => `outbound_candidates`

[2021-07-29 11:10] hesa opened #58 "License expressions in outbound suggestions/candidates"
Now, only single licenses are checked for compatibility.
Would be good to check if an expression is possible --- if no single license is.

[2021-07-29 11:10] hesa opened #59 "verbose outbound"
If verbose mode and outbound, also output license for all projects

[2021-07-29 11:11] hesa opened #60 "markdown arrows in common py"

[2021-07-29 11:11] hesa opened #61 "support manifest files"

[2021-07-29 20:18] hesa commented on #8
Earlier flict had options go generate `pdf` and `html`. This was done from the `markdown` output using `pandoc` via a wrapper script. Now, thanks to you @priv-kweihmann, flict installs nicely without any bash script.

I think adding a bash wrapper would:
1. make it easy to generate pdf, html etc
2. add to complexity

**2** is more important so, let's close this one

[2021-07-29 20:18] #8 closed, assigned to nobody

[2021-07-29 22:37] #50 closed, assigned to nobody

[2021-07-29 22:53] #60 closed, assigned to nobody

[2021-07-30 08:57] hesa commented on #29
@priv-kweihmann fixed with #45

[2021-07-30 08:57] #29 closed, assigned to nobody

[2021-07-30 09:35] #3 closed, assigned to nobody

[2021-07-30 09:56] #52 closed, assigned to nobody

[2021-07-30 13:02] #2 closed, assigned to nobody

[2021-07-30 15:54] #51 closed, assigned to nobody

[2021-07-30 16:02] hesa commented on #15
Mentioned in README

[2021-08-01 08:26] hesa opened #69 "How to report bugs"

[2021-08-01 21:35] hesa commented on #10
We have a version 0.1 now
Will picking up that (git tag or tar.gz/zip) be OK as basis for a deb release?

[2021-08-01 21:36] hesa commented on #10
https://github.com/vinland-technology/flict/releases/tag/0.1

[2021-08-01 21:37] hesa commented on #10
What meta info is needed?

[2021-08-02 19:32] jeremiah commented on #10
When packaging a binary for Debian with git, it is often best to use [Debian's git branching strategy.](http://honk.sigxcpu.org/projects/git-buildpackage/manual-html/gbp.intro.html#gbp.repository) This means that it's likely best we put the version we want to package in Debian's Gitlab instance (Salsa) and call the branches by the conventions; upstream, debian, and pristine tar.

The metadata need

[2021-08-02 19:33] jeremiah commented on #10
Yes.

[2021-08-02 19:35] jeremiah commented on #10
We can skip the git packaging and just package the .deb from a tarball, but we're using git for development and lots of Debian developers package via git nowadays so might as well package it via git. It's a tiny bit easier to automate as well.

[2021-08-10 08:44] hesa opened #73 "Attribute OSADL in the help text (cli)"

[2021-08-10 09:07] hesa opened #74 "Parse license with space fails (GPL-2.0-only WITH Classpath-exception-2.0)"
Flict cannot parse the following expression:

`flict -of markdown display-compatibility Apache-2.0 GPL-2.0-only WITH Classpath-exception-2.0`

[2021-08-14 12:00] hesa opened #77 "Add notes to doc on docker image"
Comoliance Tool Collection, https://github.com/vinland-technology/compliance-tool-collection, provides flict
Add note to
* installation.md
* readme.md - replace ref to the docker image itself

[2021-08-14 13:36] #77 closed, assigned to nobody

[2021-08-14 16:02] hesa commented on #59
Hmmm,,,,  verbose is more or less used as a way to get debug info.

How about:
* replace todays verbose mode with -d, --debug for all diagnostic outputs (typically stderr)
* add --verbose to get additional information for resulting output

[2021-08-16 08:12] #69 closed, assigned to nobody

[2021-08-16 08:17] #74 closed, assigned to nobody

[2021-08-16 08:21] priv-kweihmann opened #80 "pypi release"
Still no pypi release is available nor this is mentioned in the README.
I think it would be best to release tagged versions to pypi (as sdist) to let people use this tool, without the need to use git

[2021-08-16 10:56] priv-kweihmann opened #81 "Disable merge commits"
![grafik](https://user-images.githubusercontent.com/46938494/129553176-6e56a85a-462c-4c1b-ab8f-56b4fff59849.png)

I would like to disable this option for this repository, as I think having a linear history is one of the signs of a healthy and well-maintained project.

Any objections @hesa , @jens-erdmann ?

[2021-08-16 15:00] #15 closed, assigned to nobody

[2021-08-16 15:00] #73 closed, assigned to nobody

[2021-08-25 11:58] hesa opened #85 "read project from stdin"
Adding `-` to mean stdin we can ise flict in pipes, like this

[code]

[2021-08-26 20:29] hesa commented on #80
What is needed to get there?

[2021-08-26 20:47] hesa commented on #80
Created an account and followed some procedures... might have made: https://pypi.org/project/flict/

[2021-08-26 21:15] priv-kweihmann commented on #80
whoop whoop - it's done!

[2021-08-27 10:12] hesa commented on #80
[code]

[2021-08-31 20:50] jens-erdmann opened #88 "Dockerfile"
As we discussed recently, a docker file could be created to enhance the user experience and lower the entrance.

There was also the idea to improve testing workflow by using docker and maybe a rudimentary install script.

I created two branches for potential docker file solutions.
Solution 1: Very simple Dockerfile + very simple install.sh that could be used in CI as well.
https://github.com/vinla

[2021-09-06 09:39] hesa opened #89 "Add grouping of licenses"
Grouping permissive licenses to a new "group", typically called "Permissive", would make it possible to reduce the number of possible combinations. A simple license expression like `MIT and BSD-3-Clause and BSL-1.0` could be reduced to `Permissive`.

This will probably lead to reduced complexity when looking at (example from Cairo with deps):
[code]

could be simplified  to
[code]

which, using gr

[2021-09-06 13:01] pombredanne commented on #89
@hesa you could very much use the license-expression library for this:
1. scan and get an expression
2. parse the expression
3. apply a substitution using a table https://github.com/bastikr/boolean.py/blob/5954297a0babca994fd1eeccb09e19eda172e3fa/boolean/boolean.py#L635
4. render back the expression (possibly as SPDX)

[2021-09-06 21:19] hesa commented on #89
Thanks  @pombredanne

This is related to: https://github.com/maxhbr/LDBcollector/issues/4 (this issue was about providing support for using the db from @maxhbr for translating license name not being SPDX)

[2021-09-06 21:25] hesa commented on #10
I think from now on it should be OK to use git (branch: main) for packaging (kudos to @jens-erdmann and @priv-kweihmann)

[2021-09-06 22:52] pombredanne commented on #89
@hesa re:

where does this come from?

[2021-09-07 06:09] hesa commented on #89
From a script compiling licenses from a package and its dependencies . I tweaked the result a bit. Why do you ask?

@pombredanne - in the scancode license db you, rightfully so, classify Apache-2.0 as permissive. However it is not compatible with the gpl2 family. This means flict cant use your permissive classification to determine if a license can "use" software under a permissive license (since

[2021-09-07 06:48] pombredanne commented on #89
Would this be a script that get License: lines from Debian copyright file? I am asking because the "symbology" used there is neither SPDX nor ScanCode.

[2021-09-07 06:49] pombredanne commented on #89
Sure.

[2021-09-07 10:28] hesa commented on #89
The license expression (think I may have changed AND/& OR/|) comes from Yocto, compiled using https://github.com/vinland-technology/compliance-utils. More details here: https://software-compliance.se/posts/2021-02-12/ ... but the interesting part for you is: **the license expressions come from Yocto recipes**

[2021-09-08 21:24] jeremiah opened #91 "Do you really need a Makefile with a python package?"
There are not a lot of python packages in Debian that use a Makefile to run tests. Though I've only looked at three or four, I can't seem to find one. Is this a "pythonic" approach to use a Makefile for tests? I see a different approach in Debian that has the power to declare separate dependencies for tests as well.

[2021-09-08 21:25] jeremiah opened #92 "Tests fail using pybuild -- missing module license_expression?"
I: pybuild base:232: cd /home/jeremiah/Packaging/flict-0.1.1/.pybuild/cpython3_3.9/build; python3.9 -m unittest discover -v
test_oneway (tests.test_compat_matrix.TestOneWay) ... DEBUG:flict:['Compatibility*', 'AFL-2.0', 'AFL-2.1', 'AGPL-3.0-only', 'AGPL-3.0-or-later', 'Apache-1.0', 'Apache-1.1', 'Apache-2.0', 'Artistic-1.0-Perl', 'BSD-2-Clause', 'BSD-2-Clause-Patent', 'BSD-3-Clause', 'BSD-4-Clause

[2021-09-08 22:01] hesa commented on #92
Did you install license_expression?
[code]

It's listed at the top of INSTALLATION, but not under Debian instructions. Fixing the latter now

[2021-09-08 22:04] hesa commented on #92
Check out: https://github.com/vinland-technology/flict/pull/93

[2021-09-08 22:07] hesa commented on #92
As a developer (you are when testing) you also need to install the dev deps, https://github.com/vinland-technology/flict/blob/main/INSTALLATION.md:

[code]

Can you try that?

[2021-09-08 22:11] hesa commented on #91
Nah, I guess this is a sign of my background with Makefiles and the autotools. It's in my fingers to write `make`.

This Makefile is useless and can/should be removed since it may (obviously did) confuse folks.

[2021-09-08 22:18] hesa opened #94 "Broken/bad links in INSTALLATION.md"
These links are incorrect:

[code]

[2021-09-08 23:30] jeremiah commented on #92
That worked!

[2021-09-08 23:30] #92 closed, assigned to nobody

[2021-09-08 23:33] jeremiah commented on #91
It confused me. What happened was that using standard Debian tools to build a .deb, it called the Makefile, which in turn called the tests, which in turn needed all the requirements-dev.txt dependencies. This is totally fine of course, it's just that it might be easier for whoever wants to build and package to have a single requirements file and maybe a single build system. (I know it's python so

[2021-09-09 05:43] hesa commented on #91
If I find a Makefile in a repo I'd go "make". I will (re)move it

[2021-09-09 08:26] hesa opened #96 "Return code: doc and an error"
**Error**
[code]

**Doc**

Add to help text some notes on return codes

[2021-09-09 13:41] jeremiah commented on #91
heh, me too. But that is exactly what breaks because it runs the test suite and won't find pytest unless you already have pytest installed.

[2021-09-09 14:03] hesa commented on #91
Pytest is in requirement-dev.txt

How to make deb tools adapt to our setup?

[2021-09-09 18:56] jeremiah commented on #91
Yep.

This is the question. From the Debian side, it is the same question but in reverse; how to make the application code adapt to Debian setup? Unfortunately, my experience is largely with perl in Debian though I've done some GNOME packaging as well. The thing about perl and GNOME vs. python packaging is that they each use different tools and policy and have different teams maintaining them. Fro

[2021-09-09 20:02] hesa commented on #91
Do you need any new stuff/changes in flict to use this way of packaging?

[2021-09-09 20:53] jeremiah commented on #91
I think what would be easier for me is a consolidated requirements.txt file. Aside from that I'm not sure what's needed aside from doing things the Debian way.

[2021-09-09 21:32] hesa commented on #91
The req file without -dev is for users

The one with -dev is for developers. Without all test deps.

[2021-09-09 21:34] hesa commented on #91
So, I think you can go for:
* requirements.txt and skip tests
Or
* requirements-dev.txt if you want to do tests

[2021-09-10 03:59] jeremiah commented on #91
But that's just it - you can't not run the tests, they're part of the build. And you have to build a binary to have a deb package. So while I see the usefulness of breaking out the test dependencies into a separate file, in building a deb the tests are included in the build so effectively we need all those dependencies. It's just easier to have it in one file, more DRY as well.

[2021-09-10 07:20] hesa commented on #91
BTW; the Makefile is in this branch (to be merged in https://github.com/vinland-technology/flict/pull/97) "pining for the fjords" so you give that a shot: https://github.com/vinland-technology/flict/tree/91-move-makefile

I get your point, but adding all the requirements (see below) is in my opinion not "Simply the best" for "Common people":
[code]

Is there something we can add to force the deb t

[2021-09-10 13:58] jeremiah commented on #91
I think most "Common people" will install via their system's package manager. That is to say you'll see an exponential increase in users if you package for Debian and Ubuntu. Users trust APT to install things.

With that said, I think there are things that we can do to make it more pythonic / debian-esque. The Debian Python team uses a control file for tests to run before build, [like this](https:

[2021-09-13 02:01] jeremiah commented on #10
Here's the Debian Intend to Package bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=994058.

[2021-09-13 10:49] priv-kweihmann commented on #81
Disabled both `merge` and `squash` commit options

[2021-09-13 10:49] #81 closed, assigned to nobody

[2021-09-14 09:44] priv-kweihmann commented on #96
I will take this

[2021-09-14 12:05] priv-kweihmann opened #98 "Add templates for issues"
I think we should add templates for issue created here in this repo.
Using https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository, IMHO

- a bug template
- a feature request template

should be added to the repo - that would make it way easier to have that in a structured form than as free form text

[2021-09-14 12:35] priv-kweihmann commented on #55
I have no idea what does that mean. @hesa can you enlighten me what you're trying to implement here?

[2021-09-14 12:37] priv-kweihmann commented on #28
This has be already fixed along the way - closing this ticket

[2021-09-14 12:37] #28 closed, assigned to nobody

[2021-09-15 13:18] #96 closed, assigned to priv-kweihmann

[2021-09-16 08:36] #98 closed, assigned to nobody

[2021-09-17 12:08] hesa commented on #10
Forgot to ask... anything we can do to help out here?

[2021-09-17 14:54] jeremiah commented on #10
Yes, quite likely. :-) I first need to successfully build flict and then build a package so I will come back to the issue tracker with more questions.

Where are the _latest_ build instructions? Still in INSTALLATION.md?

[2021-09-17 15:32] jeremiah opened #103 "Install flict in /usr/local/bin or /usr/bin"
# Feature request

## Minor issue;

When I install flict via pip3 I get a warning;

[code]
## Describe a tool that might help here

Debian typically proscribes /usr/bin or /usr/local/bin when packaging executable binaries.

## Example data that can be used for tests

From `man hier`
[code]

[2021-09-18 00:38] jeremiah commented on #88
FWIW I use Docker for Debian packaging and testing, so I'd probably reuse the Dockerfile.

[2021-09-20 18:37] jeremiah opened #104 "Debian python3.9 test suite fails"
# Description

Test suite

## Steps for reproduction

Run this command in the flict dir;
`$  python3.9 -m pytest tests`

## Expected behavior
Successful execution of test suite.

## Actual behavior
[code]
## Environment

 | tool    | version    | how to get it       |
 | ------- | ---------- | ------------------- |
 | flict   | 91-move-makefile branch | `flict --version`   |
 | python3 | 3.9.7 | `

[2021-09-20 21:00] jens-erdmann commented on #88
Feel free to add your opinion if you got a preference.

[2021-09-20 22:23] hesa commented on #103
I tried playing around with the `--target` option (e.g. `pip install --target /tmp/son-volt -e .`) but my Python skills just ain't enough.

@jens-erdmann and @priv-kweihmann, do you know how to install flict to `/usr/bin`?

[2021-09-20 22:27] hesa commented on #104
@jens-erdmann and @priv-kweihmann ... do you have any ideas?

Heah yeah yeah,.... it's probably obvious to you. Next beer is on me

[2021-09-20 23:46] jeremiah opened #106 "Test session failure"
# Description

While trying to package flict for Debian, I note that large parts of the test suite fail. Part of this is due to the lack of certain dependencies in Debian required for the test suite. Modules like license-expression are not available package in Debian. I also note that the .github files (which appear to be YAML files for some sort of CI), are set to run on Ubuntu. Has flict ever be

[2021-09-21 01:13] jeremiah commented on #103
@hesa you clearly needed to `pip install --target /tmp/wilco -e && pip play`

[2021-09-21 06:24] priv-kweihmann commented on #104
Some of the dependencies from `requirements-dev.txt` are missing.
Such as `pytest-random-order` and `pytest-bandit`.

Don't know if that has been documented anywhere but for all of development (and I consider packaging a part of development :smile: ) one needs to install `pip3 install -r requirements-dev.txt`

[2021-09-21 06:29] priv-kweihmann commented on #103
https://stackoverflow.com/a/55388092 should explain how to achieve that -- **BUT** it never has been recommended to mess with the default choices of pip (mainly due to permission issues).
IIRC if one would need everything in /usr/bin (which btw is a permission nightmare, unless you run everything as root), it could be configured when compiling pip itself

[2021-09-21 14:07] priv-kweihmann commented on #106
Did you install all the required dependencies? aka `pip3 install -r requirements.txt && pip3 install -r requirements-dev.txt`

[2021-09-21 14:08] priv-kweihmann commented on #106
BTW when installing it via pip at least the minimum runtime dependencies are installed automatically - I don't know how you installed the tool (I guess with something like `python3 setup.py install`) ... for all **non**-pip installations the requirements from `requirements.txt` needs to be installed manually

[2021-09-21 14:10] priv-kweihmann commented on #106
It's also possible to run pip from a git clone (`pip3 install .` - from the clone dir)

[2021-09-21 14:14] priv-kweihmann commented on #103
[code]

 this is an excerpt from the help of pip on my machine.
 Guess on debian one has to explicitly add `--system` as `--user` is the default :thinking: (to me that's a bit odd - but I'm not a debian user :grin: )

[2021-09-21 15:03] jeremiah commented on #106
On a Debian system, the packaging system can only rely on dependencies that are already in Debian. This ensures that you can install a complete system from CD or other media for example. Debian doesn't allow one to download software from the Internet because the target system might not have a network connection. So my feeling is that Debian packaging of flict requires one of these choices;

1. Pac

[2021-09-21 15:07] jeremiah commented on #106
IMHO testing flict builds on Debian as the target system often highlights these problems early so they're easier to resolve for other distros. I'd avoid using Ubuntu as your main build target because a) it's not all free software, b) it is Debian derived. Might as well test on the reference system.

[2021-09-21 15:14] jeremiah commented on #104
Packaging is really part of integration. `</pedantic>`

See discussion here regarding pip: #106

[2021-09-21 15:24] jeremiah commented on #103
Personally I prefer the Linux File System Hierarchy over python packaging tools, but I'm old. Fun reading: https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s09.html

/usr/bin and /usr/local/bin are Debian defaults and while not _required_ that is what most python packages do. Debian is one of the distros that follows the FHS closely.

[2021-09-21 15:36] jeremiah commented on #103
It's something inherited from UNIX security I believe to put local binaries in /usr/local/bin or /usr/bin. Having those directories owned by root means only root can create new files under them. When a user runs an executable there, which any user can do because those dirs are group executable, it runs as the user. Programs that run as root are in /usr/sbin/.

[2021-09-21 15:50] hesa commented on #88
I have to little experience in Docker to decide. @jens-erdmann - your call to decide :)

[2021-09-21 15:57] jeremiah commented on #103
+1

Debian uses install scripts to determine where the binary lives.

:scream:

[2021-09-21 20:05] hesa opened #107 "Flict reports too many outbound candidates"
# Description

A software with components under: `Libpng`, `GPL-2.0-or-later`, `Zlib`

The outbound candidates are too many. Included licenses are such that are NOT compatible both ways.

## Steps for reproduction

Create a file, `test.json` with the following content:
[code]

Exacute flict (and `jq`) like this:
[code]

## Expected behavior

Since GPL* and the others are only compatible one way, t

[2021-09-24 23:18] hesa opened #110 "Return value for CI"
# Feature request

In a compliance CI, a scripted compliance audit or what have you it might be useful to get the result via exit code rather than having to parse the output.

Today:
* **0** - success, no incompatibilities found
* everything else is considered failure

But when applying a policy (allowed license, denied licenses and avoided license) we might success (as in no incompatibilities) bu

[2021-09-24 23:31] hesa opened #111 "Add outbound candidates to report"
# Feature request

A compatibility report currently includes:

  "licensing": {
    "outbound_candidates": [
      "GPL-2.0-only",
      "GPL-3.0-only"
    ]
  }

Suggestion: keep outbound candidates in policy report to link compatibility report and policy report

## Is your feature request related to a problem? Please describe.

Useful for compliance officers

[2021-09-24 23:33] hesa opened #112 "Add compatibility meta data to policy report"
# Feature request

The policy report does not mention, include, meta data about the compat report. Think it should

## Is your feature request related to a problem? Please describe.

Compliance work

## Describe a tool that might help here

## Example data that can be used for tests

[2021-09-24 23:35] hesa opened #113 "Add git/homepage to all reports"
# Feature request

Add git/homepage to all reports

## Is your feature request related to a problem? Please describe.

none

## Describe a tool that might help here

## Example data that can be used for tests

[2021-09-28 19:11] jens-erdmann commented on #94
This was fixed by https://github.com/vinland-technology/flict/pull/109

[2021-09-28 19:11] #94 closed, assigned to nobody

[2021-10-03 09:01] #107 closed, assigned to nobody

[2021-10-05 18:05] priv-kweihmann opened #115 "Add python 3.10 compatibility"
as py3.10 is soon officially available we should add the needed metadata to declare it compatible with it

[2021-10-11 14:46] #115 closed, assigned to nobody

[2021-10-18 15:02] hesa commented on #106
Addressing the choices above:

1. Package for Debian all the dependencies
2. Remove the test suite from the Debian package
3. Determine how other python packages in Debian manage pip dependencies

(1) Provide debs for the package `license-expression` as in ´requirements.txt`, but not the packages in `requirements-dev.txt` sounds good.

(2) flict will not work without `license-expression`. We aim a

[2021-10-19 11:46] hesa opened #124 "GPL family not translated"
# Description

When adding translation (e.g. `LGPLv2.1` to `LGPL-2.1-only`) these are ignored.

## Steps for reproduction

Add
[code]

to translations file (`translation.json`)

Then, run flict like this:

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment

 | tool    | version    | how to get it       |
 | ------- | ---------- | ------------------- |
 | flict   | 0.1

[2021-10-19 12:26] hesa commented on #124
Oh oh.... this is the source of the code above: https://github.com/maxhbr/LDBcollector/issues/4

[2021-10-19 12:35] hesa opened #125 "Use translations from LDBCollector"
# Feature request

We need to add translations (e.g. `GPL3` -> `GPL-3.0-only`). As discussed here https://github.com/maxhbr/LDBcollector/issues/4 we could make use of translations as provided by https://github.com/maxhbr/LDBcollector

_**Note**: the list above contains duplicates_

## Is your feature request related to a problem? Please describe.

Some build systems and other tool use non SPDX lic

[2021-10-19 19:18] #85 closed, assigned to hesa

[2021-10-20 09:07] priv-kweihmann commented on #125
I have mixed feelings about getting another direct dependency into the mix - In my opinion we should use the code from either `license-expression` or that module mentioned **but** not the data. the data should be stored in our scope, what makes it adjustable to our purposes way more easily

[2021-10-20 10:05] #124 closed, assigned to hesa

[2021-10-20 12:39] hesa opened #129 "Change default format to text"
# Feature request

Today the output is by default  done in JSON. This is good when interacting with other programs but works poorly with humans.

Suggesting to use `text` as default format. And leave `JSON` and `markdown` as avilable (via command line options) just as before.

## Is your feature request related to a problem? Please describe.

When using flict in my daily work I find it annoying to

[2021-10-26 08:52] priv-kweihmann commented on #129
I suggest a different approach, let's bring in a user specific config file (like .bashrc) that configures that behavior, cuz I think I want json to be the default

[2021-10-26 10:14] priv-kweihmann commented on #88
Finally found the time to add my 2 cents.
I personally like https://github.com/vinland-technology/flict/tree/multi-stage-docker more.

**but** it is still missing a few bits and pieces...

- the container needs to be referenced in the CI pipelines somehow
- documentation is missing on this one
- the TODOs have to be resolved
- I wonder how to map local files into the container (I guess that needs

[2021-10-27 15:12] #110 closed, assigned to nobody

[2021-10-29 12:38] priv-kweihmann opened #133 "Use osadl-matrix library instead of builtin"
As discussed it might be valuable to used a version pinned variant of https://github.com/priv-kweihmann/osadl-matrix as input for OSADL compatibility checking.

I propose to use
- osadl-matrix library
- remove the in repo copy of the matrix.csv
- adjust the function signature to use the library check function

[2021-10-31 17:26] #129 closed, assigned to nobody

[2021-11-03 14:51] #133 closed, assigned to nobody

[2021-11-05 09:52] hesa commented on #125
Since the stuff in LDB originates from Scancode I figure it is better to discuss things there. I will join their next weekly meeting: https://github.com/nexB/aboutcode/wiki/MeetingMinutes

Hoping @pombredanne and friends allow us to hijack part of the meeting.

[2021-11-05 09:52] hesa commented on #125
Closing this issue

[2021-11-05 09:53] #125 closed, assigned to hesa

[2021-11-05 09:57] hesa commented on #106
Suggestion (1) can now be found in #123

[2021-11-05 09:57] #106 closed, assigned to nobody

[2021-11-08 15:10] #91 closed, assigned to nobody

[2021-11-10 12:07] priv-kweihmann opened #142 "tests fail after latest merge"
# Description

First of all, thank you for your bug report. Please fill out below sections (if applicable) to help us fix the issue as good and fast as possible.

## Steps for reproduction

Run test pipeline

## Expected behavior

all green

## Actual behavior

some failed tests, likely due to changed DB from latest merge

## Environment

 | tool    | version    | how to get it       |
 | -------

[2021-11-13 10:23] hesa commented on #142
Weird. Can't reproduce it locally. I am on it

[2021-11-13 11:16] hesa commented on #142
Getting intermittent errors :(
Only from the bash scripts... perhaps it's about time

[2021-11-14 14:25] hesa commented on #104
Tests are performed using the `dev` requirements. No need to install these when not testing, as for a normal user.
Will update CONTRIBUTING.md and then close this issue.

[2021-11-14 14:29] hesa commented on #103
This problem is part of #10
Closing this issue.

[2021-11-14 15:19] hesa opened #147 "Overlook return codes for verify and policy-report"
# Return codes for verify and policy report shall be useful in CI

1. Update spec of return codes for `verify` with:
* `1` - no outbound candidates found

2. Update spec of return codes for `policy-report` with:
* `2` - outbound licenses found, but only using _avoid_ licenses
* `3` - outbound licenses found, but only using _denied_ licenses

3. Add policy files to fit the above spec

4. Implement

[2021-11-14 15:21] #103 closed, assigned to nobody

[2021-11-14 22:02] jens-erdmann opened #149 "Move code out of __main__.py"
To be able to test all functions of flict most of the code in __main__.py should be moved out. It should only contain arg parser code and simple functions to by called by it.
Actual business logic should be moved into a different file so we can import it in our test files. I am not sure if there is an impl paradigm in python but maybe we could just have such a class for now.

[2021-11-14 22:03] jens-erdmann opened #150 "Replace bash tests with pytest"
Bash test scripts have found to not be as reliable in the past and add unneeded boilerplate code.
We should move away from bash tests and convert them into pytest code.

[2021-11-14 22:13] hesa commented on #149
Do we need a class? Functions, as it is now, ought to be OK?

[2021-11-14 23:23] jens-erdmann commented on #149
It might be easier to handle with a class but I would be ok to not have one.

[2021-11-15 18:28] jeremiah opened #153 "Explore whether GitHub actions might be useful for some flict users"
# Feature request
Simple GitHub action to demonstrate how we might provide flict as a GitHub action.

## Is your feature request related to a problem? Please describe.
An automated tool can be an efficent and easy way for users to test flict. Using GitHub "actions" may be a way to create such an automated tool and put it in front of a lot of potential users.

## Describe a tool that might help her

[2021-11-19 15:42] hesa commented on #10
This is dealt with in #123

[2021-11-19 23:53] hesa commented on #104
Included in #123

[2021-11-19 23:55] hesa commented on #10
Replaced by #123

[2021-11-19 23:55] #10 closed, assigned to jeremiah

[2021-11-19 23:55] #104 closed, assigned to jens-erdmann

[2021-11-20 09:03] jens-erdmann commented on #142
Fixed with #151

[2021-11-20 09:03] #142 closed, assigned to hesa

[2021-11-20 09:07] jens-erdmann commented on #88
We introduced a script in #154 to set up flict inside of a stock python container. We settled on this solution right now and agreed to not have a dedicated docker image for flict as of now. This might change in the future.

[2021-11-20 09:07] #88 closed, assigned to nobody

[2021-11-25 20:33] jens-erdmann opened #161 "Badge for test coverage"
A badge for the current test coverage should be displayed in the readme file next to the reuse badge.

[2021-11-26 20:40] jens-erdmann opened #164 "project - dependencies_pile_map broken"
https://github.com/vinland-technology/flict/blob/4dab580a3436a955c16cc7b87459b18729596113/flict/flictlib/project.py#L138

The dependencies_pile_map function of project.py is either redundant or broken.

[code]

`dep_pile_json` is just a copy of `dep_pile`.

Either we implement a logic that flattens the list or we should replace `dependencies_pile_map()` calls with `dependencies_pile()`.

[2021-11-30 09:03] jens-erdmann commented on #150
3/5 of tests got replaced with #162 .

[2021-12-07 20:53] priv-kweihmann commented on #164
Yes, in a strict pythonic sense we should go with
[code]

[2021-12-07 20:55] priv-kweihmann commented on #161
No I would rather say we should enforce 100% test coverage in CI, so we don't need a public blame factor in displaying that badge

[2021-12-08 11:49] jens-erdmann commented on #161
Would be also a nice approach.

[2021-12-18 08:45] jens-erdmann opened #172 "CompatMatrixStatus should be its own module"
We have several places where CompatMatrixStatus is interpreted into different formats. It should be moved into its own module with all these interpretations.

[2021-12-18 09:42] priv-kweihmann commented on #172
I didn't find that many conversions of that enum... can you name a few?

[2021-12-18 10:50] jens-erdmann commented on #172
Hmm. Seems like I am mixing this up with CompatibilityStatus.

[2021-12-18 10:52] jens-erdmann commented on #149
Fixed with #157

[2021-12-18 10:52] #149 closed, assigned to nobody

[2022-01-02 08:51] jens-erdmann commented on #172
flict translates between CompatibilityStatus and CompatMatrixStatus. It also translates between CompatMatrixStatus <> "JSON" string <> CompatibilityStatus. These translations are shared between compat_matrix.py and compatibliity.py.
I have no better solution for this as of now but I still think this is not optimal.

[2022-01-03 19:06] jens-erdmann commented on #111
This is not referring to https://github.com/vinland-technology/flict/blob/main/flict/flictlib/report.py#L59 correct?

[2022-01-03 19:31] jens-erdmann opened #181 "Two Implementations of license_expression_list That Differ Just Slightly"
There is a public implementation of license_expression_list ([license.py:189](https://github.com/vinland-technology/flict/blob/main/flict/flictlib/license.py#L189)) and a private one ([license.py:213](https://github.com/vinland-technology/flict/blob/main/flict/flictlib/license.py#L213)) that differ only slightly.
It is not clear to me, why we need both and what the difference is needed for. Either

[2022-01-05 10:19] jens-erdmann commented on #150
Solved with #180

[2022-01-05 10:19] #150 closed, assigned to nobody

[2022-01-06 08:02] #181 closed, assigned to hesa

[2022-07-26 09:02] robbiemorrison opened #199 "license compatibility matrix not public"
The **license compatibility matrix** cited on the GitHub landing page returns a 403 error (you don't have permission to access) for me as an ordinary user:

- https://www.osadl.org/fileadmin/checklists/matrix.html

You may need to change the **access permissions** for that file, therefore?

[2022-07-29 23:15] TheKanter commented on #199
+1 just discovered this.

[2022-10-04 08:25] hesa opened #210 "Move unit tests to pytest"
# Feature request

Rewrite all unit tests to using pytest (away from unittest).

[2022-10-19 08:32] hesa commented on #199
README now says:

To check compatibility between two licenses flict is using [osadl-matrix](https://github.com/priv-kweihmann/osadl-matrix) which is using [OSADL](https://www.osadl.org/)'s [matrix.json](https://www.osadl.org/fileadmin/checklists/matrix.json) as found in [Open Source License Checklists](https://www.osadl.org/OSADL-Open-Source-License-Checklists.oss-compliance-lists.0.html)

[2022-10-19 08:32] #199 closed, assigned to nobody

[2022-10-19 08:53] robbiemorrison commented on #199
Thanks team!

[2022-10-19 09:11] hesa opened #212 "Incomplete license preferences gives unclear feedback"
# Description

Flict exits with an exception when:
* verifying a project
* an incomplete license preference list is applied
* a license is found in the project that is not in the license pref list

The output is
[code]

This is not making it clear to the user that the problem is that

## Steps for reproduction

Create an incomplete license preference list:
[code]

and then run flict likes this:

[

[2022-10-19 09:53] hesa commented on #212
Having thought about it. I think it is confusing to fall back on the default preference list when providing an incomplete.

[2022-10-20 17:59] #212 closed, assigned to hesa

[2022-10-25 11:46] priv-kweihmann opened #219 "Python 3.11 support"
Python 3.11 was just released, so this tool should support that

[2022-10-27 15:18] kkrolczyk commented on #172
@jens-erdmann it looks as `CompatMatrixStatus` does not exist anymore. I guess this could be closed in such case.

[2022-10-27 15:21] kkrolczyk commented on #153
Repo already uses Github Actions, so i guess this issue should be closed?

[2022-10-27 15:32] kkrolczyk commented on #147
1. i guess this is quite outdated.

2. Also, such command can be found in the examples:
`flict -o europe-report.json verify -pf example-data/europe.json`
however `-pf` is not supported anymore.

3. `example-data/europe.json`  claims to be used in tests, but only `example-data/europe-small-bad.json` is currently being used in tests

[2022-10-27 15:39] kkrolczyk commented on #113
Apparently policy report was removed from flict, but

`flictlib/format/text_format.py -> format_policy_report()` remained, as well as confusing policy-report main option... and entry in EXAMPLES.md ...

[2022-10-28 06:34] #172 closed, assigned to nobody

[2022-10-31 18:36] #219 closed, assigned to nobody

[2022-11-01 19:25] jens-erdmann commented on #164
Fixed by #209

[2022-11-01 19:25] #164 closed, assigned to hesa

[2022-11-01 19:28] jens-erdmann commented on #210
#209 sadly made this relevant again.

[2022-11-01 19:32] hesa commented on #59
Not valid anymore

[2022-11-01 19:32] #59 closed, assigned to nobody

[2022-11-01 19:32] hesa commented on #58
Implemented

[2022-11-01 19:32] #58 closed, assigned to nobody

[2022-11-01 19:37] hesa commented on #55
Having a table of the compatibility between the licenses of your choice would be nice in my daily work.

| * | MIT | LGPL-2.0-only |
|---|-------|---------------------|
| MIT | Yes | No |
| LGPL-2.0-only | Yes | Yes |

This can be done in the markdown format I think

[2022-11-01 19:38] hesa commented on #13
In use now

[2022-11-01 19:38] #13 closed, assigned to hesa

[2022-11-01 19:39] hesa commented on #1
Policy reporting not valid anymore. However markdown format implemented. It is up to the use to use tools like pandoc to create other formats.

[2022-11-01 19:39] #1 closed, assigned to nobody

[2022-11-01 19:39] hesa commented on #61
SBoM SPDX 2.2 supported

[2022-11-01 19:39] #61 closed, assigned to nobody

[2022-11-01 19:44] hesa commented on #111
Policy not needed anymore.
With the rewrite this information should be available.

[code]

[2022-11-01 19:44] #111 closed, assigned to nobody

[2022-11-01 20:03] priv-kweihmann commented on #55
This can be easily done by additional tools further down the line, I personally do not see the need to implement that into flict as it is today - all that needs to be done is have a machine readable and documented output format, which is (except for the documentation) given as of today.
I put my vote against implementing this

[2022-11-02 17:29] kkrolczyk opened #231 "test_license.py issues"
We'd like to test if empty or invalid string as license expression raises error.

[code]
However, given the fixtures there, at the moment it seems to be more complicated to handle raised exceptions within fixture.

Second thing is more of a typical bug - flict, given a normal string to parse - parses it without complains - while it is not a valid license expression string.

_Originally posted by @

[2022-11-04 19:40] jens-erdmann commented on #153
No. This issue is about providing a Github Action that employs flict and can be used in other projects.

[2022-11-09 08:02] hesa commented on #89
With the new implementation you can add your own licenses (e.g. `Permissive`) and use aliases to let `MIT-style` and `x11-keith-packard` be aliases for `Permissive`. When flict see `MIT-style` it will check compatibility using the self defined `Permissive`.

Closing issue

[2022-11-09 08:02] #89 closed, assigned to nobody

[2022-11-09 08:03] hesa commented on #112
Policy not separated anymore. Not relevant. Closing

[2022-11-09 08:03] #112 closed, assigned to nobody

[2022-11-09 08:06] hesa commented on #113
EXAMPLES: https://github.com/vinland-technology/flict/pull/232

[2022-11-09 21:04] hesa commented on #113
format_policy_report: removed in branch `hesa-fix-issue-147`

[2022-11-09 21:04] hesa commented on #147
Outdated: yes

Return codes now:
[code]
"-pf" fixed in https://github.com/vinland-technology/flict/commit/571a2d624fdc74e8c92c1da1891fa71954662223

I suggest, at some time, move test files to the tests dir and have useful examples (as the name suggests) in the examples directory. Removed the europe file.

[2022-11-09 21:25] hesa commented on #147
See: https://github.com/vinland-technology/flict/pull/233

[2022-11-09 21:25] hesa commented on #113
See: https://github.com/vinland-technology/flict/pull/233

[2022-11-10 16:55] hesa commented on #113
https://github.com/vinland-technology/flict/pull/233

[2022-11-10 16:55] #113 closed, assigned to nobody

[2022-11-10 16:56] hesa commented on #147
Closed with https://github.com/vinland-technology/flict/pull/233

[2022-11-10 16:56] #147 closed, assigned to nobody

[2022-11-23 07:53] priv-kweihmann commented on #231
I thought about this a bit - what the license parser should do is

- remove the brackets as currently implemented
- split at `AND` and `OR` only
- replace ` WITH ` statements by `-with-` (compat db should have entries for that, like `GPL-2.0-or-later-with-custom-exception` - otherwise it will be hard to automatically check compat with others, as exceptions tend to be a bit random in their scope, s